h1{
	color:black;
	background-color:yellow;
	font-size:100px;
	border-style:solid;
	border-width:20px;
	border-color:#00CED1;
	text-align:center;
}
p{
	padding-top:25px;
	padding-bottom:25px;
	color:black;
	font-size:40px;
	background-color:#C71585;
	border-style:double solid double solid;
	border-width:10px;
	border-color:blue;
	margin-left:50px;
	height:100px;
	width:1400px;
}
main ~ p{
	color:yellow;
	border:none;
	background-color:#680000;
	padding-top:0px;
	padding-bottom:0px;
	font-size:20px;
	height:40px;
	width:500px;
}
main h1{
	background-color:#E6E6FA;
	font-size:100px;
	border-style:none;
}
h2{
	color:white;
	background-color:#1E90FF;
}
main{
	background-color:#87CEFA;
}
html{
	background-image:url(http://xyer.co/wallpaper/28/6/dark-picture.jpg)
}
table{	
	border-style:groove;
	border-color:#888888;
	border-width:20px;
	padding-top:15px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:15px;
	color:black;
}
tr th{
	background-color:#8B0000;
}
tr td{
	background-color:white;
}
nav ul{
	background-color:#1E90FF;
}
ul > li{
	color:green;
	font-size:20px;
	border-style:solid;
	border-width:10px;
}
