img.Kappa{
	width:300px;
	height:auto;
	float:right;
}
li a{
	display:block;
	color:black;
}
li a:hover{
	background-color:black;
	color:white;
}
*{
	outline:1px solid;
}
main{
	margin-left:200px;
}
article{
	background-color:#87CEFA;
}
h1{
	font-size:50px;
	border-style:dashed;
	border-width:10px;
	text-align:center; 
}
h2{
	color:white;
	background-color:#00008B;
	clear:right;
}
p{
	width:800px;
}
br{
	clear:right;
}
nav{
	width:199px;
	float:left;
}
img.HomeKappa{
	width:500px;
	float:right;
}
li{
	background-color:#00FA9A;
	padding:10px 0px 10px 0px;
}
article ul{
	width:500px;
}
