@import url(https://fonts.googleapis.com/css?family=Anton);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700);
@import url(https://fonts.googleapis.com/css?family=Bangers);
img.Kappa{
	width:300px;
	height:auto;
	float:right;
}
img.HomeKappa{
	width:500px;
	height:auto;
	float:right;
}
li a{
	font-family:Anton;
	display:block;
	color:black;
}
li a:hover{
	background-color:black;
	color:white;
}
main{
	margin-left:200px;
}
h1{
	font-family:Amatic SC;
	font-size:60px;
	border-style:dashed;
	border-width:10px;
	text-align:center; 
	background-image:url(images/BlueBack.jpg);
}
h2{
	font-family:Bangers;
	font-size:30px;
	color:white;
	background-color:black;
	clear:right;
	padding:10px 0px 10px 10px;
}
h3{
	font-family:Bangers;
	background-image:url(images/SkyBack.jpg);
	font-size:30px;
	padding:10px 0px 10px 10px;
}
p{
	width:800px;
}
br{
	clear:right;
}
nav{
	width:200px;
	float:left;
}
li{
	background-color:#00FA9A;
	padding:5px 0px 5px 5px;
	background-image:url(images/BlurBack.jpg);
}
article ul{
	width:500px;
}
article{
	background-image:url(images/NostalgicBlueBack.jpg);
}
html{
	background-image:url(images/GreenBack.jpg);
}
article p{
	padding:10px 10px 10px 10px;
	color:white;
	font-size:25px;
}
header p{
	color:white;
	font-size:20px;
	background-color:black;
	text-align:center;
	width:auto;
	border-style:solid;
	border-width:10px;
	border-color:#00FFFF;
}
